/* MENU SITE */

.menu .mob {
    display: none;
}

.content-menu {
    display: none;
}

.menu {
    width: 100%;
    height: 50px;
    color: #484847;
    padding-top: 30px;
    z-index: 99999;
    font-size: 11pt;
    line-height: 12pt;
}

.menu a {
    padding: 8px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--color-text-menu);
    font-weight: 500;
}


/* PRINCIPAL */

.menu ul {
    list-style: none;
    position: relative;
    z-index: 99999;
}

.menu-principal {
    border-left: 1px solid transparent;
    transition: 0.5s
}


/* .menu-principal:hover {
    border-left: 3px solid yellow
} */

.menu ul li {
    float: left;
    position: relative;
}

.menu ul li:nth-child(1) {
    display: none;
}

.menu ul li:nth-child(2) {
    width: 14%;
}

.menu ul li:nth-child(3) {
    width: 25%;
}

.menu ul li:nth-child(4) {
    width: 14%;
}


/* mobile */

.menu ul li:nth-child(5) {
    display: none;
}


/* mobile */

.menu ul li:nth-child(6) {
    width: 30%;
}

.menu ul li:nth-child(7) {
    width: 12%;
}


/* .menu ul li:nth-child(8) {
    width: 12%;
    background-color: pink
} */


/* .menu ul li:nth-child(8) {
    width: 12%;
    background-color: chartreuse
} */

.li-contatos {
    display: none
}


/* FIM PRINCIPAL */


/* SEGUNDO */

.menu ul ul .submenu {
    float: none;
    width: 250px;
    background-color: #aaa;
    border: 1px solid #aaa;
    transition: 0.5s;
}

.menu ul ul li a,
.menu ul ul li label {
    color: #ffff;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu ul li ul li:nth-child(1) {
    display: block;
}

.menu ul li ul li:nth-child(1) {
    display: block;
}

.menu ul ul .submenu:hover {
    background-color: #00a1e2;
}

.menu ul ul {
    position: absolute;
    display: none;
}

.menu ul .menu-desk:hover .segundo-ul {
    width: 110px;
    display: block;
}


/* terceiro menu */

.menu ul ul ul .submenu2 {
    float: none;
    width: 300px;
    z-index: 9999;
    background-color: #00a1e2;
    transition: 0.5s;
}

.menu ul ul ul .submenu2:hover {
    background-color: #aaa;
}

.menu ul li ul li ul li:nth-child(1) {
    display: block;
}

ul li ul li ul {
    top: 0;
    left: 200px;
}

.menu ul ul ul .submenu2 a {
    color: #ffff;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10pt;
    border-left: 1px solid #fff;
}

.ver-todos {
    background-color: #aaa !important;
}

.ver-todos a {
    font-weight: 600;
    text-align: center !important;
}

ul li ul li:hover .terceiro-ul {
    display: block;
    width: 100%;
    left: 200px;
}

ul li ul li ul {
    display: none;
}

label[for=”bt_menu”] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
}

#bt_menu {
    display: none;
}

label[for=”bt_menu”] {
    display: none;
}

.hanburguer {
    display: none;
}

.seta-fechar {
    display: none;
}

@media(max-width: 750px) {
    #bt_menu:checked~.menu {
        left: 0px;
        position: fixed;
    }
    #bt_menu:checked~.seta-fechar label i {
        font-size: 30pt;
    }
    .menu ul li:nth-child(5),
    .menu ul li:nth-child(1),
    .menu ul li ul li:nth-child(1),
    .menu-desk,
    .content,
    .li-contatos,
    .hanburguer {
        display: block;
    }
    .menu-desk {
        display: none;
    }
    .li-contatos {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 30px;
        font-size: 18pt;
        line-height: 30pt;
        color: #fff;
    }
    .menu {
        top: 0px;
        left: -900px;
        transition: all .4s;
        position: absolute;
        padding-top: 0px
    }
    .hanburguer {
        margin-top: 30px;
        color: var(--color-hamburguer);
    }
    .seta-fechar {
        height: 30px;
    }
    .seta-fechar label i {
        float: right;
        color: #ffff;
        margin-right: 15px;
        margin-top: 10px;
        transition: 0.9s;
    }
    /* primeiro */
    .menu ul {
        background-color: #00a1e2;
        width: 100%;
        height: 100vh;
        overflow: auto;
    }
    .menu ul li {
        width: 100% !important;
        float: none;
        text-align: center
    }
    .menu ul li a,
    .menu ul li label {
        text-align: center !important;
        color: #ffff;
        padding: 10px;
    }
    .menu-principal a {
        font-size: 20pt;
        line-height: 22pt;
    }
    .menu ul li label {
        padding-left: 0px;
    }
    .content-menu p {
        padding: 5px;
        font-size: 18pt;
        line-height: 20pt;
        color: #fff;
        margin-bottom: 5px;
    }
    .content-submenu a {
        font-size: 15pt;
        line-height: 17pt;
        color: #6e6f9e !important;
    }
    /* fim primeiro */
    .submenu-mob,
    .ver-todos-mob {
        width: 100%;
        background-color: #fff;
        margin-bottom: 3px;
    }
    .menu-principal:hover {
        border: none;
    }
    .ver-todos-mob {
        font-weight: bold;
    }
    .submenu-mob {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .content-menu,
    .content-submenu1,
    .content-submenu2,
    .content-submenu3,
    .content-submenu4,
    .content-submenu5,
    .content-submenu6,
    .content-submenu7 {
        display: block;
        position: absolute;
        left: -800px;
        width: 100%;
    }
    .content-submenu {
        background-color: #D97D10;
    }
    .content-menu {
        background-color: #D97D10;
        height: 100vh;
    }
    .fecha-categorias {
        color: #fff;
        font-size: 18pt;
        transition: 0.5s;
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
    }
}

@media screen and (max-width: 380px) {
    .hanburguer {
        margin: 0px 16px 0px 15px;
    }
    .hanburguer i {
        font-size: 25pt;
    }
    .li-contatos {
        font-size: 14pt;
        line-height: 18pt;
    }
}


/* FIM MENU */